{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="{% static "css\product\style.css" %}">
    {% endblock css %}
    <title>Document</title>
</head>
<body>
    {% block main %}
    <main>
        <div class="block-top">
            <div class="container">
                <div class="ui-block">
                    <div class="text">
                        <h1>Категории товаров</h1>
                        <p>Наши готовые разработки выдаются автоматически после покупки! У нас продаются: готовые сборки, плагины, моды, карты, сайты, скрипты.  Мы предоставляем руководство и туториалы на наши разработки. Выкладываем наши бесплатные разработки.</p>
                    </div>
                    <a href="#targetcenter-block">Просмотреть категории</a>
                </div>
                <img src="/static/img/main/Иконка (15).png" alt="" width="350px" height="350px">
            </div>
        </div>
        <div class="block-bottom" id="targetcenter-block">
            <div class="container">
                <h1>Категории</h1>
                <div class="category">
                    {% for category in categories %}
                        {% if category.is_disabled %}
                            <a href="#" style="pointer-events: none; cursor: default; opacity: 10%;">{{ category.name }}</a>
                        {% else %}
                            <a href="{% url 'product:category_detail' category_slug=category.slug %}">{{ category.name }}</a>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </main> 
    {% endblock main %}
</body>
</html>