{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="{% static "css\services\style.css" %}">
    {% endblock css %}
    <title>Document</title>
</head>
<body>
    {% block main %}
    <main>
        <div class="block-top">
            <div class="container">
                <div class="ui-block">
                    <div class="text">
                        <h1>Список услуг</h1>
                        <p>Ниже вы можете ознакомиться с услугами, которые можно приобрести на заказ и получить бесплатную консультацию от наших специалистов.</p>
                    </div>
                    <a href="#targetcenter-block">Просмотреть услуги</a>
                </div>
                <img src="/static/img/main/Иконка (7).png" alt="" width="350px" height="350px">
            </div>
        </div>
        <div class="block-bottom">
            <div class="container" id="targetcenter-block">
                <h1>Услуги</h1>
                <div class="services-wrapper">
                    <button class="arrow left-arrow">
                        <img src="/static/img/main/Scroll.png" alt="">
                    </button>
                    <div class="services-container">
                        <div class="services">
                            {% for service in services %}
                            <a href="{% url 'services:service_detail' service.slug %}" style="text-decoration: none;">
                                <div class="card">
                                    <div class="images">
                                        <img src="{% if service.image %}{{ service.image.url }}{% else %}default-image.jpg{% endif %}" alt="{{ service.name }}">
                                    </div>
                                    <div class="descriptions">
                                        <div class="text">
                                            <h3>{{ service.name }}</h3>
                                            <p>{{ service.card_description }}</p>
                                        </div>
                                        <div class="pirce">
                                            <p>от {{ service.price }}₽</p>
                                            <a href="https://vk.com/im/convo/-218636246?entrypoint=list_all">→ Написать</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                    <button class="arrow right-arrow">
                        <img src="/static/img/main/Scroll (1).png" alt="">
                    </button>
                </div>
                
            </div>
        </div>
    </main> 
    {% endblock main %}
</body>
</html>