{% extends "base.html" %}
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="{% static 'css/product/product_detail.css' %}">
    {% endblock css %}
    <title>{{ title }}</title>
</head>
<body>
    {% block main %}
    <main>
        <div class="block-top">
            <div class="container">
                <div class="ui-block">
                    <div class="text">
                        <h1>{{ product.name }}</h1>
                        <p>{{ product.description }}</p>

                        <h2 id="price-display">
                            {% if product.price == 0 %}
                            Бесплатно
                            {% else %}
                                Цена: <span id="price">{{ discounted_price|floatformat:0 }}₽</span>
                            {% endif %}
                        </h2>
                    </div>

                    {% if product.price == 0 %}
                        <a class="download" href="{{ product.file.url }}" download>→ Скачать</a>
                    {% else %}
                        <div class="buy-section">
                            <form id="promo-form">
                                <input type="text" name="promo_code" id="promo-input" placeholder="Введите промокод" value="{{ request.GET.promo_code|default:'' }}">
                            </form>
                            <a class="buy-button" href="#" id="buy-button" data-csrf-token="{{ csrf_token }}">→ Купить</a>
                        </div>
                        <a class="add-to-cart" href="#" data-product-id="{{ product.id }}">Добавить в корзину</a>
                    {% endif %}
                </div>
                <img src="/static/img/main/Иконка (15).png" alt="" width="350px" height="350px">
                <div id="product" data-discounted-price="{{ discounted_price|floatformat:0 }}" data-category-slug="{{ product.category.slug }}" data-product-slug="{{ product.slug }}"></div>
            </div>
        </div>
    </main>
    <script src="{% static 'js/product/product_detail.js' %}"></script>
    {% endblock main %}
</body>
</html>
