{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block css %}
    <link rel="stylesheet" href="{% static "css\main\polz.css" %}">
    {% endblock css %}
    <title>Document</title>
</head>
<body>
    {% block main %}
    <main>
        <div class="block-top">
            <div class="container">
                <div class="ui-block">
                    <div class="text">
                        <h1>Пользовательское
                            соглашение</h1>
                    </div>
                    <a href="#targetcenter-block">Ознакомиться</a>
                </div>
                <img src="/static/img/main/Иконка (14).png" alt="" width="350px" height="350px">
            </div>
        </div>
        <div class="block-bottom">
            <div class="container" id="targetcenter-block">
                <div class="info-blocks">
                    <h1>Определения и термины</h1>
                    <p>Для целей настоящей Оферты нижеприведенные термины и определения толкуются следующим образом: <br><br>
                        <li >Исполнитель, специалист, представитель студии, менеджер, сотрудник— человек, предоставляющий услугу.</li>
                        <li >ТЗ, техническое задание — полное описание требований и пожеланий по заказу.</li>
                        <li >ТП, техническая поддержка — комплекс услуг по поддержанию игровых серверов в рабочем состоянии.</li>
                        <li >Промокод — совокупность символов, предоставляющие скидочные условие при совершении заказа.</li>
                        <li >Бриф — это документ, который содержит ряд задач по проекту и информацию по обязательствам заказчика и исполнителя.</li>
                        <li >Баг, неисправность — недоработка в сервере, плагине или другом товаре/услуге.</li>
                        <li >Менеджер студии — официальный представитель студии, имеющий полномочия в решении спорных ситуаций в работе между исполнителем и заказчиком.</li>
                        <li >Исключительные ситуации — ситуации, в связи с которым могут применяться особые условия в общении между клиентом и исполнителями студии, а также в оказании услуг. К таким ситуациям может относиться: большая разница между часовыми поясами клиента и исполнителя (больше 4 часов), проблемы со здоровьем или другие ситуации, которые предполагают временную невозможность исполнения своих обязательств.</li>
                        <li >Товар, услуга — продукт труда исполнителя, произведенный для продажи заказчику.</li>
                        <li >Официальные источники (каналы связи) — каналы связи, указанные на официальном сайте студии.</li>
                        <li >Официальный сайт студии — www.clouddelight.ru</li>
                        <li >Официальная группа студии — https://vk.com/cloud_delight</li>
                        <li >Стоимость товара/услуги- стоимость товара/услуги, размещенная на официальном сайте студии или в официальной группе ВК, или размер той суммы денежных средств, которые были внесены клиентом для оформления заказа (с учетом акций, распродаж и персональных предложений).</li>
                    </p>
                </div>
                <div class="info-blocks">
                    <h1>1. Правила оформления заказа</h1>
                    <p>1.0 Оформление заказа возможно только через онлайн-магазин студии - *сайт студии* <br>
                        1.1 При оформлении заказа клиент должен указать все свои корректировки в примечаниях к заказу.<br>
                        1.1.1 Заказ оформляется в сообщениях сообщества студии, все детали и пожелания, а также оплата производятся там же<br>
                        1.1.2 При оформлении масштабных заказов необходимо составить подробное ТЗ и отправить его на утверждение специалистам студии.<br>
                        1.2 Заказ считается оформленным после внесения 50%/100% оплаты за услугу, товар выдается только после 100% оплаты.<br>
                        1.2.1 Все детали, условия, сроки, а также корректировки оговариваются с исполнителем до произведения клиентом оплаты/предоплаты.<br>
                        1.3 Предоплата производится только по согласованию с исполнителем.<br>
                        1.3.1 Исполнитель вправе отказать клиенту в предоплате заказа.<br>
                        1.4 Исполнитель не несет ответственности и не обязуется принимать определенные действия в отношении клиента, если:<br>
                        — Клиент не указал при оформлении заказа в форме/ТЗ какую-либо деталь;<br>
                        — Клиента не удовлетворили детали, внесенные исполнителем, по желанию клиента;<br>
                        1.5 Все дополнительные детали, которые не входят в услугу, а также правки внесенные после оформления заказа — считаются отдельным товаром/услугой и являются платными.<br>
                        1.6 Исполнитель имеет право отказать в дополнительной работе после оформления заказа.<br>
                        1.7 Сроки работы для каждого заказа индивидуальны и предварительно уточняются в сообщениях группы VK: https://vk.com/cloud_delight<br>
                        1.7.1 Исполнитель может изменить срок выполнения заказа, при внесении клиентом дополнительных деталей в заказ.<br>
                        1.8 Студия имеет право не предоставлять контакты и иные личные данные исполнителей без объяснения причины.<br>
                        1.9 Исполнитель вправе отказать в торгах и предоставлении персональных скидок по своему усмотрению без объяснения причины.</p>
                        <div class="info-blocks">
                        </div>
                    <h1>2. Правила общения с исполнителем</h1>
                    <p>2.1 Общение с исполнителем ведется только через официальные каналы связи студии: официальное сообщество ВКонтакте, контактная почта: cloud.delight@yandex.ru<br>
                        2.1.1 Контактные данные исполнителей студии не распространяются и напрямую являются конфиденциальной информацией студии<br>
                        2.2 В общении с исполнителем запрещено:<br>
                        — Использовать нецензурную брань;<br>
                        — Применять любого вида угрозы;<br>
                        — Отправлять множество бессмысленных сообщений (флудить);<br>
                        — Выпрашивать бесплатное оказание услуг.<br>
                        — За неадекватное или провокационное поведение в сообщениях/отзывах/тикетах/почте студии клиент будет помещен в черный список группы.<br>
                        2.3 За нарушение правил общения с сотрудником студии будут применены следующие санкции:<br>
                        — Отказ в выполнении заказа без возврата средств;<br>
                        — Добавление в черный список группы<br>
                        2.3.1 В случае нарушения правил общения с сотрудником студии — студия имеет право применить вышеуказанные санкции без обоснований.<br>
                        2.4 Ответы на вопросы/уточнения/дополнения/корректировки клиента осуществляются в порядке существующей очереди по мере возможности.</p>
                    </div>
                <div class="info-blocks">
                    <h1>3. Техническая поддержка</h1>
                    <p>3.1 Каждый наш клиент имеет право на неограниченное пользование услугами техподдержки совершенно бесплатно<br>
                        3.2 В бесплатную техническую поддержку входит:<br>
                        — Исправление любых багов в полученном клиентом заказе, если клиент не изменял файлы изначальной версии полученного товара;<br>
                        — Полное возвращение полученного клиентом товара в первоначальный вид при необходимости;<br>
                        — Консультации по приобретенному товару или услуге.<br>
                        3.3 Бесплатная техническая поддержка может быть прекращена, если заказчик нарушил правила общения с сотрудником(пункт 2) студии или намеренно изменяет файлы товара или услуги, что приводит к неисправностям.</p>
                    </div>
                    <div class="info-blocks">
                    <h1>4. Правила возврата</h1>
                    <p>4.1 Основанием для произведения возврата могут являться следующие ситуации:<br>
                        — Возврат денежных средств возможен лишь только до момента выдачи завершенного товара или начала выполнения индивидуального заказа сотрудником исключительно на реквизиты, с которых производилась оплата.<br>
                        — Возврат части денежных средств производится в том случае, если заказчик произвел доплату за ускоренное выполнение заказа, а данное требование не было выполнено;<br>
                        — Специалист не может выполнить часть работы, которая была оговорена клиентом и утверждена исполнителем до оформления заказа (осуществляется возврат до 20% от той суммы денежных, которые были внесены клиентом для оформления заказа, соразмерно величине той части заказа, которую специалист не может выполнить).<br>
                        — Возврат денежных средств осуществляется по возможности, но не более чем в течение 30 календарных дней.
                        4.2 Клиент не может получить возврат в размере полной стоимости товара/услуги, указанной на сайте, если при оплате товара/услуги клиент воспользовался акционным предложением/распродажей.</p>
                    </div>
                <div class="info-blocks">
                    <h1>5. Правила проведения акций и распродаж</h1>
                    <p>5.1 Акции и распродажи проводятся в строго указанные студией сроки.<br>
                        5.1.1 Сроки указываются только в официальных источниках студии.<br>
                        5.2 Воспользоваться акционным предложением или скидкой после завершения акции невозможно.<br>
                        5.4 Заказчик вправе воспользоваться акционным предложением неограниченное количество раз, если ограничение не прописано в условиях проведения акции или распродажи.<br>
                        5.5 В акционных товарах могут отсутствовать некоторые виды товаров, конкретный перечень необходимо уточнять в день распродажи.<br>
                        5.6 Клиент не может получить возврат в размере полной стоимости товара/услуги, указанной на сайте, если при оплате товара/услуги<br> клиент воспользовался акционным предложением/распродажей.</p>
                    </div>
                <div class="info-blocks">
                    <h1>6. Персональные предложения</h1>
                    <p>6.1 Персональные предложения на товар/услугу предлагаются сотрудником студии строго по усмотрению сотрудника студии.<br>
                        6.1.1 Сотрудник студии вправе отказать клиенту в персональной скидке без объяснения причин.<br>
                        6.2 Заказчик вправе воспользоваться своим персональным предложением на товар/услугу, которое предлагалось к данному товару/услуге в любое время, если оно не ограничено сотрудником студии.<br>
                        6.3 Персональное предложение может быть использовано только один раз, если количество применений не указывается сотрудником студии.<br>
                        6.4 Заказчик не может передать свое персональное предложение другому человеку.</p>
                    </div>
                <div class="info-blocks">
                    <h1>7. Порядок приёма заказа</h1>
                    <p>7.1 Заказ предоставляется клиенту по завершению разработки данного заказа строго тем способом, который указывает клиент при <br>оформлении заказа, если иное не предусмотрено правилами студии.<br>
                        7.1.1 Способ передачи заказа может быть изменен при согласовании исполнителя и заказчика.<br>
                        7.2 Тестирование товара/услуги производится заказчиком.<br>
                        7.3 Если была внесена частичная оплата заказа (предоплата), то исполнитель вправе не передавать товар для тестирования до произведения полной оплаты заказчиком.<br>
                        7.4 Заказ считается переданным и завершенным, если исполнитель отправил его указанным при оформлении способом и заказчик не имеет никаких претензий к выполненной работе.</p>
                    </div>
                <div class="info-blocks">
                    <h1>8. Прочее</h1>
                    <p>8.1 Исполнитель вправе отказать в оказании услуг (до совершения оплаты) без объяснения причин.<br>
                        8.1.1 Если клиентом была произведена оплата заказа, то при отказе в оказании услуги будет сделан возврат в размере той суммы денежных средств, которые были внесены клиентом для оформления заказа.<br>
                        8.2 Ознакомление со всеми правилами студии, описанными в данном документе, является обязательным при оформлении заказа через онлайн-магазин: *сайт студии*<br>
                        8.2.1 Студия не несет ответственности за невыполнение вышеуказанного пункта. Неосведомленность о правилах студии не освобождает Вас от ответственности.<br>
                        8.2.2 Незнание правил студии — не освобождает клиента от обязанности их соблюдения.<br>
                        8.3 Строго запрещается перепродажа/передача/слив любой нашей продукции.<br>
                        8.3.1 При нарушении вышеуказанного пункта будут применены следующие действия:<br>
                        — Добавление в черный список в группе;<br>
                        — Аннулирование технической поддержки;<br>
                        — Ограничение к доступу на аккаунт внутри сайта, включая все находящиеся на нем товары и денежные средства, которые не подлежат возврату<br>
                        8.4 Выполненная работа должна соответствовать тому товару/услуге, что была оплачена клиентом через официальный сайт студии или официальную группу студии.<br>
                        8.5 Все заказы клиентов и купленные услуги хранятся в личном кабинете пользователя<br>
                        8.6 Стоимость товаров/услуг может быть изменена в любой момент по усмотрению студии.<br>
                        8.7 Студия не несет ответственности за неправомерные действия, совершенные нашими продуктами третьими лицами.<br>
                        8.8 Пользователь не имеет права создавать множество аккаунтов с целью использования скидочных предложений.<br>
                        8.8.1. При нарушении вышеуказанного пункта будут применены следующие действия:<br>
                        — Добавление в черный список в группе;<br>
                        — Аннулирование технической поддержки;<br>
                        — Ограничение к доступу на аккаунт внутри сайта, включая все находящиеся на нем товары и денежные средства, которые не подлежат возврату.</p>
                    </div>
            </div>
        </div>
    </main> 
    {% endblock main %}
</body>
</html>